body {
    margin: 0;
    height: 100%;
    width: 100%;
    overflow-x:hidden ;
    font-size: 16px;
    font-family: "ADLaM Display";

}
header{
    background-image: url(/img/about-us/headerbackground.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height:50vh; /*Do NOT TOUCH THIS IT IS THE RIGHT HEIGHT */
    font-family: "ADLaM Display";
}
main{
    width:90vw;
    margin: auto;
    font-family: "ADLaM Display";
}
.image-wrapper{
    max-width: 550px;
    height:auto;
}
.long-image-wrapper{
    height:400px;
}
.mission, .story{
    width:90%;

}

.main-text-row, .main-text-row-bottom{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-top:100px ;
    max-width:1400px;
}
.main-text-row-bottom{
    display: flex;
    flex-wrap: wrap;
    
    max-width:1400px;
}
.history{
    height:500px;
    width:100%;
    margin-bottom:40px;
    font-family: "ADLaM Display";
}
.small-om-history-text{
    display: block;
    font-weight: 800;
    margin-bottom: 39px;
    margin-top: 40px;
    padding-left: 0;
    text-align: center;
    text-transform: uppercase
}
.card-item{
    border:1px solid #d8d8d8;
    height:444px;
    width:440px;
    margin:auto;
}
.pie-container{
    width:440px;
    margin: auto;
    margin-top:20px;
}
.pie {
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}
.active-pie{
    background-color: #be9032;
}

.inner-card{
    padding:20px;
}
.temp-img{
    display: none;
}
.second-image-wrapper{
    max-width: 550px;
    height:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.staff-member h1{
    margin:20px;
    font-size: 18px;
    font-weight: 800;
}
.staff-member p{
    font-size: 14px;
    font-weight: 400;
}
.mugshot-wrapper{
    display: flex;
    justify-content: center;
}
.staff-member-filler-text{
    text-align: center;
}
img{
    transition: box-shadow 0.3s ease-in-out;
}
img:hover{
  box-shadow: 1px 1px 1px grey;
}
@media (min-width: 781px) {   /*when it becomes web put rules in here */
    *{
        font-size: 18px;
    }
    header{
        height:70vh;
    }
    .main-text-row{
        flex-direction: row;
        justify-content: space-evenly;
    }
    .main-text-row-bottom{
        flex-direction: row-reverse;
        justify-content: space-evenly;
        margin-top:-100px;
    }
    .mission,.story{
        width:40%;

    }
    .temp-img{
        display: block;
    } 
    .card-item{
        border: none;
        height:300px;
        width:640px;
    }
    .pie-container{
        width:750px;
        display: flex;
        justify-content: space-between;
    }
    .pie{
        position: relative;
        height: 15px;
        width: 15px;
    }
    .history-line{
        width:90px;
        height:5px;
        position: absolute; 
        background-color: inherit;
        z-index: -1;
        right: 5px;;
        top:5px;
    }
    .staff-member{
        width:25%;  
        padding-top:10px;
        margin:10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom:120px;
    }
    .staff-member:hover{
        color:blue
    }
    .staff-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 1200px;
        width:95vw;
        margin: auto;
    }
    .second-image-wrapper{
        margin-top:200px;
    }
    .active-line {
        background-color: #be9032;
      }
    .history{
        height:100vh;
        display: inline;
    }
    .staff{
        margin-top:100px;
    }
    .mugshot{
        height:300px;
        width:300px;
        border-radius: 50%;
    }

    
}
@media (max-width: 1200px) {
    .mugshot{
        height:110px;
        width:110px;
        border-radius: 50%;
    }
}
@media (max-width: 870px) {
    .staff-member{
        width:44%;  
    }
}
@media (max-width: 781px) {
    .staff-member{
        width: 100%;
        margin-bottom:20px;
        display: flex;
    }
    .mugshot-wrapper{
        display: flex;
        justify-content: start;
        padding-left:40px;
        width:30%;
        height:100%;
        border-radius: 50%;
    }
    .staff-text{
        display: flex;
        flex-direction: column;
        justify-content: end;
    }
    .staff-member-filler-text{
        text-align: end;
    }
}