body {
    margin: 0;
    height: 100%;
    width: 100%;
    overflow-x:hidden ;
    font-size: 16px;
    font-family: "ADLaM Display";

}
header{
    background-image: url(/img/about-us/headerbackground.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height:50vh; /*Do NOT TOUCH THIS IT IS THE RIGHT HEIGHT */
    font-family: "ADLaM Display";
}
main{
    width:90vw;
    margin: auto;
    font-family: "ADLaM Display";
}
.image-wrapper{
    max-width: 550px;
    height:auto;
}
.long-image-wrapper{
    height:400px;
}
.mission, .story{
    width:90%;

}

.main-text-row, .main-text-row-bottom{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-top:100px ;
    max-width:1400px;
}
.main-text-row-bottom{
    display: flex;
    flex-wrap: wrap;
    
    max-width:1400px;
}
.history{
    height:500px;
    width:100%;
    margin-bottom:40px;
    font-family: "ADLaM Display";
}
.small-om-history-text{
    display: block;
    font-weight: 800;
    margin-bottom: 39px;
    margin-top: 40px;
    padding-left: 0;
    text-align: center;
    text-transform: uppercase
}
.card-item{
    border:1px solid #d8d8d8;
    height:444px;
    width:440px;
    margin:auto;
}
.pie-container{
    width:440px;
    margin: auto;
}
.pie {
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}
.active-pie{
    background-color: purple;
}
.staff-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 400px;
    margin: auto;
}
.staff-member{
    border:5px black solid;
    max-width:700px;
    display: flex;
    justify-content: space-between;
}
.staff-text{
    width:70%;
}
.inner-card{
    padding:20px;
}
.temp-img{
    display: none;
}
.second-image-wrapper{
    max-width: 550px;
    height:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.history-line{
    display: none;
}
@media (min-width: 781px) {   /*when it becomes web put rules in here */
    *{
        font-size: 18px;
    }
    header{
        height:70vh;
    }
    .main-text-row{
        flex-direction: row;
        justify-content: space-evenly;
    }
    .main-text-row-bottom{
        flex-direction: row-reverse;
        justify-content: space-evenly;
        margin-top:-100px;
    }
    .mission,.story{
        width:40%;

    }
    .temp-img{
        display: block;
    } 
    .card-item{
        border: none;
        height:300px;
        width:640px;
    }
    .pie-container{
        width:640px;
        display: flex;
        justify-content: space-between;
    }
    .pie{
        position: relative;
        height: 20px;
        width: 20px;
    }
    #history-line{
        width:80px;
        height:7px;
        position: absolute; 
        background-color: inherit;
        z-index: -1;
        left:5px;
        top:7px
    }
    
    
}