body {
    margin: 0;
    height: 100%;
    width: 100%;
    overflow-x:hidden ;
    font-size: 16px;

}
header{
    background-image: url(/img/about-us/headerbackground.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height:50vh; /*Do NOT TOUCH THIS IT IS THE RIGHT HEIGHT */
}
main{
    width:90vw;
    margin: auto;
}
.image-wrapper{
    max-width: 700px;
}
.long-image-wrapper{
    height:400px;
}
.mission, .story{
    width:90%;
    margin: auto;
}
.main-text-wrapper{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top:40px ;
}
.main-text-row{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-top:100px ;
    max-width:1400px;

}
.history{
    height:500px;
    width:100%;
    margin-bottom:40px;
}
.small-om-history-text{
    display: block;
    font-weight: 800;
    margin-bottom: 39px;
    margin-top: 40px;
    padding-left: 0;
    text-align: center;
    text-transform: uppercase
}
.card-item{
    border:1px solid #d8d8d8;
    height:444px;
    width:440px;
    margin:auto;
}
.pie-container{
    width:440px;
    margin: auto;
}
pie {
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}
.active-pie{
    background-color: purple;
}
.staff-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 400px;
    margin: auto;
}
.staff-member{
    border:5px black solid;
    max-width:700px;
    display: flex;
    justify-content: space-between;
}
.staff-text{
    width:70%;
}
.inner-card{
    padding:20px;
}
.temp-img{
    display: none;
}
@media (min-width: 781px) {   /*when it becomes web put rules in here */
    *{
        font-size: 18px;
    }
    header{
        height:70vh;
    }
    .main-text-wrapper{
        flex-direction: row;
    }
    .mission,.story{
        width:40%;
        margin: auto;
    }
    .temp-img{
        display: block;
    } 

    
}