body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  font-family: "ADLaM Display";

}

header {
  background-image: url("../img/products/headerimg.jpg");
  height: 70vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  /* 100% for the X-axis (width), auto for Y-axis (height) */
}

#navbar {
  background-color: transparent;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 3;

}

#nav-content-wrapper {
  max-width: 1400px;
  margin: auto;
}

#contact-button {
  position: relative;
  background-color: #d5a038;
  border: 2px #d5a038 solid;
  border-radius: 10px;
  font-family: "ADLaM Display";
  height: 45px;
  width: 140px;
  text-align: center;
  padding: 6px;

}
.product-box-wrapper{
  margin-top:50px;
  display: flex;
  justify-content:  space-evenly;

}
.veg{
  width:20vw;
  max-width: 1000px;
  height:60vh;
  border-radius: 25px;
  background-color: #7bc270;
}
.meat{
  width:20vw;
  max-width: 1000px;
  height:60vh;
  border-radius: 25px;
  background-color: #613613;
}
.honey{
  height:75vh;
  width:20vw;
  max-width: 1000px;
  border-radius: 25px;
  background-color: #d5a038;

}
footer{
  margin-top:100px;
  border-top:40px solid #7bc270;
  background-color: #57ac49 ;
  height:400px;
  display: flex;
  justify-content: space-evenly;
  text-align: left;
  font-family: "ADLaM Display";
}
.footer-section{
  width:20%;
  height:auto;
  padding-top:20px;
  color:black;
}


















@media (min-width: 781px) {
  #contact-button {
    position: absolute;
    right: 0;
    margin-right: 10px;
  }
}